@charset "utf-8";
/* CSS Document */

/*-- header --*/
.header{
	padding:10px 0px;
	border-bottom:#CCC solid 1px;
}

.judul{
	color:#333;
	padding:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

/*=== Button Admin ===*/
.admin{
	color:#FFF;
	text-decoration:none;
	padding:10px 15px;
	margin:5px 10px;
	background-color:#00CC00;
	border-radius:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

	.admin:hover{
		color:#FFF;
		text-decoration:none;
		background-color:#009900;
	}

/*-- Info --*/
.info{
    left:1%;
	height:auto;
	color:#000;
	padding:15px 15px;
	margin:0px;
	background-color:#EBEBEB;
}

/*-- Info 2--*/
.info2{
	height:auto;
	color:#333;
	padding:15px 20px 0px;
	margin:0px;
	background-color:#EBEBEB;
	font-size:30px;
	font-family:Geneva, sans-serif;
}

/*-- kotak data --*/
.box{
    left:7%;
    right:6%;
	height:240px;
	width:400px;
	padding:10px 20px;
	margin:5px 20px;
	color:#000;
	border-radius:10px;
	background-color:#FFF;
}

.box2{
    height:200px;
    width:1300px;
	padding:10px;
	margin:5px 0px 0px 10px;
	color:#000;
	border-radius:10px;
	background-color:#FFF;
}

/*-- kotak Judul --*/
.title{
	text-align:center;
	width:90px;
	border:solid 1px #FF0000;
	padding:10px;
	text-decoration:none;
	color:#FFF;
	font-family:"Lucida Grande", sans-serif;
	background-color:#FF3737;
	border-radius:5px;
}

.title2{
	text-align:center;
	width:110px;
	border:solid 1px #006600;
	padding:10px;
	text-decoration:none;
	color:#FFF;
	background-color:#390;
	border-radius:5px;
	font-family:"Lucida Grande", sans-serif;
}

.title3{
	text-align:center;
	width:140px;
	border:solid 1px #00CCCC;
	padding:10px;
	text-decoration:none;
	color:#FFF;
	background-color:#09C;
	border-radius:5px;
	font-family:"Lucida Grande", sans-serif;
}

.title4{
	text-align:center;
	width:140px;
	border:solid 1px #FFFF00;
	padding:10px;
	text-decoration:none;
	color:#FFF;
	background-color:#FC0;
	border-radius:5px;
	font-family:"Lucida Grande", sans-serif;
}
	p{
		padding-left:5px;
		font-family:"Times New Roman", Times, serif;
	}

	h3{
		text-align:center;
		color:#666;
	}

/*=== Peta ===*/
.card{
	left:1.5%;
	margin:40px 0px;
	padding:0px 15px 20px;
}

.card-title{
	font-size:30px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
}

.btn{
	padding:0px 10px;
	margin:0px 10px;
}

/*=== Text Bawah ===*/
.text{
	color:#525252;
	padding:0px 15px;
	margin:0px 15px;
	font-size:16px;
	font-family:Verdana, Geneva, sans-serif;
}

